{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'bootstrap.min.css'%}">
    <title>EkSaath{% block title%}{% endblock %}</title>
    <script src="{% static 'jquery.js'%}"></script>
    <script src="{% static 'popper.js'%}"></script>
    <script src="{% static 'bootstrap.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'script.js'%}"></script>
    <!-- <script type="text/javascript" src="{% static 'cart.js'%}"></script> -->
    <!-- <script type="text/javascript" src="{% static 'product.js'%}"></script> -->
    {% block extjs %}
    {% endblock extjs %}
    
    <style>
        *{
            box-sizing: border-box;
        }
    </style>
</head>
<body>


    {% block body %}
    
    {% endblock %}
    
</body>
</html>