{% extends 'base.html' %}

{% load static %}
{% load mathfilters %}

{% block title %} : Home{% endblock %}


{% block body %}

<!--Nav Bar-->
<div class="container-fluid row p-0 ml-0" style="height:8vh;background-color: black;color :white;">
    <div class="col-4 pl-1 h-100 d-flex" style="align-items:center;font-size:3.5vh;font-weight: 700;color:aqua">Ek Saath</div>
    <div class="h5 col-4 text-center h-100 d-flex justify-content-center" style="align-items: center;">Home</div>
    <div class="col-4 d-flex justify-content-end h-100" style="align-items: center;">
    
    
        <a href="{% url 'cart' id=customer.id %}" style="height: 60%;">
            <img src="{% static 'Images/cart.white.png' %}"  style="height: 100%;">
        </a>
        <span class="badge badge-danger">{{no_of_cart_items}}</span>
        
        <a href="{% url 'dashboard' id=customer.id %}" class="w-100 d-flex justify-content-end ml-2" style="height: 70%;">
            <img  class="h-100" src="{% static 'Images/Account.white.png' %}" >
        </a>
        
        
    </div>
</div>

<!-- Order List -->
<div class="container-fluid d-flex flex-row justify-content-around flex-wrap rounded mt-1" style="width: 95vw;box-shadow: -4px -3px 2px 1px white,4px 3px 6px 2px #888888;">
    <div class="container  text-center mb-2">Hello , <span class="h3">{{customer.full_name}}</span></div>
    <div class="container d-flex justify-content-around">


    </div>

    <div class="container p-0" style="width: 90vw">
        <div class="btn bg-danger w-100 mt-2">Your Order</div>
    </div>
    
    
    {% for item in order_items %}
    
    <div class="row ml-0 rounded my-1" style="height: 30vw;">
    
        <!--Image-->
        {% if item.product.image %}
        <div class="col-3" style="height: 100%;">
            <img class="rounded" src="{{item.product.image.url}}" style="height: 100%;width:100%;">
        </div>
        {% else %}
        <div class="col-3" style="height: 100%;">
            <img class="rounded" src="{% static 'Images/no_image.png' %}"style="height: 100%;width:100%;">
        </div>
        {% endif %}
        
        <!--Product Details-->
        <div classs="col-6 p-0" style="width: 50%;overflow: hidden;height: 100%;">
        
            <!--Product Name-->
            <div class="text-center d-flex w-100" style="align-items:center;height: 25%;line-height: 20%;font-size: 4vw;font-weight: 700;color:black;">{{ item.product.name | truncatechars:18 }} </div>
            
            <!--Price and Quantity-->
            
            <div class="row ml-0 w-100 d-flex" style="width: 100%;align-items: center;height: 25%;" >
                <div class="col-6 d-flex justify-content-end pl-1" style="font-size:3.5vw;font-weight:700;">{{item.product.quantity}}
                </div> 
                <div class="col-6 d-flex justify-content-start pr-1" style="font-size:3.5vw;font-weight:700;">₹<span id="price_{{item.product.id}}">
                {{item.product.price}}</span></div>
            </div>
            
            <!--Category of Product-->
            <div class="row ml-0 w-100" style="height: 25%;" >
                <div class="col-4 d-flex justify-content-start py-auto" style="align-items: center;font-size: 3vw;font-weight:700;">Category</div>
                <div class="col-8 py-auto d-flex justify-content-start" style="align-items: center;font-size: 3vw;font-weight:700;">{{item.product.category}}</div>
            </div>
            
            
            <!-- No of items -->
            <div class="row ml-0 w-100 my-0" style="height: 25%;padding-bottom: 0.5vh">
                <div class="col-8 d-flex justify-content-around p-0 h-100" >
                    <div class="d-flex justify-content-end py-auto" style="align-items: center;font-size:3vw;font-weight:700;">No :</div>
                </div>
                <div id="qnt_{{item.product.id}}" class="col-4 d-flex justify-content-start p-0" style="align-items: center;font-size:4.5vw;font-weight:700;">{{item.quantity}}</div>
                
                <div class="col-4 d-flex justify-content-center py-auto" style="align-items: center;font-size:3vw;font-weight:700;">{{item.quantity}}</div>
            </div>


        </div>
        <div class="col-3 px-auto d-flex flex-column justify-content-center">
            <div class="w-100" style="font-size: 3vw;font-weight: 700">Effective Price</div>
            <div class="w-100" style="font-size: 4vw;font-weight: 700">
            ₹<span id="eq_price_{{item.product.id}}">{{item.product.price|mul:item.quantity | truncatechars:6}}</span>
            </div>
        </div>
    </div>
    {% endfor %}
    
    


    
</div>

<!-- Total Price -->
<div class=" container-fluid row ml-0 rounded my-2 pr-0" style="font-size: 4.5vw;font-weight: 750">
    <div class="row w-100">
        <div class="col-8 d-flex justify-content-end">Effective Product Price :</div>
        <div class="col-4 d-flex justify-content-end">₹<span>{{effective_product_price}}</span></div>
    </div>
    <div class="row w-100">
        <div class="col-8 d-flex justify-content-end">GST(if any like {{GST | mul:100}}%) :</div>
        <div class="col-4 d-flex justify-content-end">₹<span>{{effective_product_price | mul:GST}}</span></div>
    </div>
    <div class="row w-100">
        <div class="col-8 d-flex justify-content-end">Delivery Charge(if any) :</div>
        <div class="col-4 d-flex justify-content-end">₹<span>{{delivery_charge}}</span></div>
    </div>
    
    <div class="row w-100">
        <div class="col-8 d-flex justify-content-end" style="font-size: 5vw;font-weight: 800">Grand Total :</div>
        <div class="col-4 d-flex justify-content-end" style="font-size: 5vw;font-weight: 800">₹<span>{{grand_total}}</span></div>
    </div>
</div>

<div class="container p-0 rounded mt-2" style="width: 90vw;box-shadow: -4px -3px 6px 2px white,4px 3px 6px 2px #888888;">
    <a href="{% url 'address_for_order' customer_id=customer.id %}" class="btn bg-info w-100">Place Your Order</a>
</div>


{% endblock %}